 

.box {
  border: 5px dashed blue;
  width: 300px;
  margin: 0 auto;
  height: 300px;
  padding: 10px;
  /* overflow: hidden; */
  /* overflow: scroll; */
  /* overflow: auto; */
  /* overflow-y: auto; */
  /* overflow-x: hidden; */
}

.content {
  background-color: coral;
  height: 500px;
  width: 200px; 
  margin-top: -40px;
  position: relative;
}

.section {
  background-color: yellowgreen;
  height: 50px;
 
}


 
/* 
If content doesn’t fit, it overflows 
the container’s borders. Vertical scrolling
 is usually acceptable to see the full text,
  but horizontal scrolling — especially on
   a page — is inconvenient because it makes
    navigation less comfortable.
It is generally recommended to avoid 
horizontal scrolling. To achieve this, 
you can avoid fixing the width of all 
elements in a row and allow at least
 one element to have an automatic width. 
 If scrolling is necessary, it can be 
 controlled using the overflow property

*/

 

 
 
   
  


