 html {
  --text-color: #333a4a;
  --page-color: #f5f6f1;
  --section-border-color: #ced2ed;
  --header-color: #fb4a3a;
  --header-height: 50px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: var(--text-color);
  scroll-behavior: smooth;
 }

 body {
  margin: 0;
 }



.nav {
position: sticky;
top: 0;
background-color: var(--header-color);
display: flex;
gap: 20px;
justify-content: center;
align-items: center;
z-index: 1;
}

.nav__link {
  /* display: inline-block; */
  color: #fff;
  text-decoration: none;
  line-height: var(--header-height);

}
/* #region .main, .title, .section*/
main {
  padding: 24px;
  background-color: var(--page-color);
 }

.title {
margin: 24px 0;
text-align: center;
}

.section {
height: 400px;
background-color: #fff;
padding: 16px;
margin: 24px 0;
border-radius: 20px;
border: 1px solid var(--section-border-color);
}

/* #endregion */

.section__title {
position: sticky;
margin: 0 0 16px;
top: var(--header-height);

}
.go-back {
  position: fixed;
  background-color: var(--header-color);
  color: #fff;
  display: block;
  padding: 16px;
  right: 24px;
  bottom: 24px;

}

.footer {
background-color: #000;
color: #fff;
padding: 50px;
text-align: center;
position: sticky;
bottom: 0;
z-index: -1;
}


 
/* Unlike position: fixed, position: sticky keeps
 its original place in the page layout.
In other words, other elements on the page are 
aware of a sticky element’s space.
position: sticky elements behave like block-level 
elements — they stretch to the full width of 
their parent. A sticky element begins to “stick” 
when the page is scrolled to the specified offset.
In our case, the <nav> has top: 0, so it becomes 
fixed when the scroll position reaches the top 
of the page.The .section-title elements start 
sticking when the scroll position reaches 
--header-height (50px) from the top edge.
Overall, position: sticky is usually more 
convenient. However, for a “go to top” button, 
we don’t want the element to take up any space 
on the page — so we use position: fixed, which 
keeps it in the same spot relative to the browser 
window.
By setting the footer to position: sticky and 
z-index: -1,  we can create a “fixed footer” 
effect.   

*/

 

 
 
   
  


