 html {
  --text-color: #333a4a;
  --page-color: #f5f6f1;
  --section-border-color: #ced2ed;
  --header-color: #fb4a3a;
  --header-height: 50px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: var(--text-color);
  scroll-behavior: smooth;
 }

 body {
  margin: 0;
  padding-top: var(--header-height);
 }



.nav {
position: fixed;
top: 0;
left: 0;
right: 0;
background-color: var(--header-color);
display: flex;
gap: 20px;
justify-content: center;
align-items: center;
}

.nav__link {
  /* display: inline-block; */
  color: #fff;
  text-decoration: none;
  line-height: var(--header-height);

}
/* #region .main, .title, .section*/
main {
  padding: 24px;
  background-color: var(--page-color);
 }

.title {
margin: 24px 0;
text-align: center;
}

.section {
height: 400px;
background-color: #fff;
padding: 16px;
margin: 24px 0;
border-radius: 20px;
border: 1px solid var(--section-border-color);
}

/* #endregion */

.section__title {
margin: 0 0 16px;
}
.go-back {
  position: fixed;
  background-color: var(--header-color);
  color: #fff;
  display: block;
  padding: 16px;
  right: 24px;
  bottom: 24px;

}

.footer {
background-color: #000;
color: #fff;
padding: 50px;
text-align: center;
}


 
/* position: fixed
The element is positioned relative to 
the browser window (viewport).
It stays in the same place even when 
you scroll the page.
In other words, its position is fixed 
to the screen, not the document. 

position: absolute
The element is positioned relative to its 
nearest positioned ancestor 
(an ancestor with position: relative, 
absolute, or fixed).If there is no 
positioned ancestor, it is positioned 
relative to the document (the <html> 
element).
So, when you scroll the page, the 
element will move together with the document.
*/

 

 
 
   
  


