 .title {
  border: 3px solid black;
  width: 300px;
  /* box-shadow: 10px 5px 5px red ; */
  /* box-shadow: 30px -15px teal; */
  /* box-shadow: inset 5em 1em gold; */
  /* text-shadow: 1px 1px 2px green; */
  text-shadow: 1px 1px 0 green;
  text-shadow: #fc0 1px 0 10px;
 }


 
 

 
 /* 
Box-shadow and text-shadow are useful tools 
for designing pages, and they can 
significantly improve the overall 
appearance of a website

 */
   
  


