 

.box {
  border: 5px dashed blue;
  width: 300px;
  margin: 0 auto;
  height: 300px;
  padding: 10px;
  /* overflow: hidden; */
  /* overflow: scroll; */
  /* overflow: auto; */
  /* overflow-y: auto; */
  /* overflow-x: hidden; */
}

.content {
  background-color: coral;
  height: 500px;
  width: 200px; 
  margin-top: -40px;
  position: relative;
}

.section {
  background-color: yellowgreen;
  height: 50px;
 
}


 
/* 
HTML character entities are a useful tool.
There are various types of HTML entities,
 but I will highlight the non-breaking 
 space (&nbsp;), which is an indispensable
helper for text formatting
*/

 

 
 
   
  


