.container {
  margin: 20px auto;
  width: 400px;
  border: 5px solid green;
  position:relative;
}

.box {
height: 100px;
width: 70%;
}


.blue {
  position: absolute;
  background-color: #0057b7;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  right: 10px;
  bottom: 10px;

}

.yellow {
  background-color: #ffd700;
}



 
/* To take an element out of the normal page flow 
and place it above other elements, you can use 
position: absolute.
In this case, you usually add position: relative 
to a parent (ancestor) element.
Then the properties top, right, bottom, and left 
position the element relative to that ancestor
 instead of the whole page.
Note that right and bottom behave differently 
than they do with position: relative.
Also, space is not reserved for absolutely 
positioned elements, unlike relatively positioned
 ones.
Therefore, other elements on the page behave as 
if the absolutely positioned element does not exist */

 

 
 
   
  


